<!-- Modal Creation Element de Module-->
    <div ng-controller="e_creeModalController" class="modal fade" id="creeModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Creé un element de module</h4>
        </div>
        <div class="modal-body">
          <form name='creeEModuleForm' role="form" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : cree.validation.taken || (creeEModuleForm.intitulee.$invalid &&  creeEModuleForm.intitulee.$touched)}">
                    <label for="intitulee" >Libelée:</label>
                    <input id="intitulee" name="intitulee" type="text" class="form-control" placeholder="intitulée" ng-model="cree.req.intitulee" ng-focus="cree.validation.taken = false" ng-minlength="3" required>
                    <p ng-show="cree.validation.taken" class="help-block">intitulee existe deja !!.</p>
                    <p ng-show="creeEModuleForm.intitulee.$error.minlength && creeEModuleForm.intitulee.$touched" class="help-block">intitulee trop court !!.</p>
                    <p ng-show="creeEModuleForm.intitulee.$invalid &&  creeEModuleForm.intitulee.$touched" class="help-block">intitulee obligatoire !!.</p>                
                   
                </div>
                <div class="form-group">
                    <label for="sendToList">partager avec :</label>
                    <div class="form-inline">
                        <select id="sendToList" class="selectpicker show-tick" multiple title="..." data-live-search="true" ng-options="prof.nom+' '+prof.prenom  for prof in profs()"  ng-model="cree.req.sendTo">                 
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-repeat="item in cree.req.sendTo" ng-init="item.permision = 'r'">
                        <label>
                             {{item.nom}} {{item.prenom}}
                        </label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-{{item.permision=='w'?'edit':'eye-open'}}"></span> {{item.permision=='w'?'Modifier':'Consulter'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-click="item.permision = 'r';cree.validation.WTaken = false"><a href="#/Gest-Filiere/eModule"><span class="glyphicon glyphicon-eye-open"></span><label>Consulter</label></a></li>
                                <li ng-click="item.permision = 'w';cree.validation.WTaken = true" ng-hide="cree.validation.WTaken"><a href="#/Gest-Filiere/eModule"><span class="glyphicon glyphicon-edit"></span><label>Modifier</label></a></li>
                            </ul>
                       </div>
                </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" ng-click="cree.submit()" ng-disabled="creeEModuleForm.$invalid">Valider</button>   
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cree.annuler()">Annuler</button>
        </div>
      </div>
    </div>
  </div>