<div ng-controller="e_eModuleTableController" class="table-responsive" ng-init="eModuleTable.init()">
       <table class="table table-hover " style="margin-top:50px;">
           <thead>
                <tr>
                    <th>#{{refrechTable}}</th>
                    <th>Intitulée</th>
                    <th>Propriétaire</th>
                    <th>Dernière modification</th>
                 </tr>
           </thead>
           <tbody>
                 <tr ng-repeat="eModule in eModuleTable.items() | filter : eModuleTable.search" class="{{eModule.status =='complet'?'tr_complet':'tr_incomplet'}}" ng-class="{'tr_active' : eModuleTable.selectedIndex == $index}" ng-mousedown="eModuleTable.clicked($index,eModule._id,eModule.intitulee)" context-menu="eModuleTable.menuOptions{{eModulesList()[selectedItemIndex()].createdBy._id == user()._id?'':getPermision(eModulesList()[selectedItemIndex()]._id)}}"  ng-click="eModuleTable.clicked($index,eModule._id,eModule.intitulee)">
                    <td>{{$index}}</td>
                    <td>{{eModule.intitulee}}</td>
                    <td>{{eModule.createdBy._id==user()._id?'Vous':eModule.createdBy.nom+" "+eModule.createdBy.prenom}}</td>
                    <td>{{eModule.lastUpdate | date:'yyyy-MM-dd HH:mm:ss'}} <h6>{{eModule.createdBy._id==user()._id?'Vous':eModule.updatedBy.nom+" "+eModule.updatedBy.prenom}}</h6></td>
                 </tr>
            </tbody>
       </table>   
</div>
    