<button  style="float: right;margin: 30px;"></button>

<div class="panel panel-default" >

  <!-- Table -->
  <table class="table">
      <tr>
        <th >Nom</th>
        <th >Filliere</th>
        <th >Niveau</th>
        <th >Semestre</th>
        <th >Options</th>
      </tr>
      <tr ng-repeat="a in data.matieres">
        <td >
             {{a._ref.intitulee}}
        </td>
        <td>
            {{a._filiere.intitulee}} 
        </td>
        <td>
            {{a.niveau}} 
        </td>
        <td>
            {{a.semestre}}
        </td>
        <td>
          <button class="btn btn-info"  aria-expanded="true" data-toggle="modal" data-target="#myModal" ng-click="options($index);clickMatiere($index)"><span class="glyphicon glyphicon-cog" /></button>
        </td>
      </tr>
  </table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" ng-if="!ready">
            <div class="center-block text-center">
                <div class="modal-header">
                  <h1></h1>
                </div>
                <div class="modal-body">
                  <form>
    
                    <input type="file" file-read="noteFile" />
                    <button class="btn btn-info" ng-click="upload()">Envoyer</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-info" data-dismiss="modal">Annuler</button>
                </div>
            </div>

    </div>
    <div class="modal-content" ng-if="ready">
            <div  class="center-block text-center">
                <div class="modal-header">
                  <h1></h1>
                </div>
                <div class="modal-body">
                  <h1> liste des notes </h1>

                  <table class="table">
                      <tr>
                        <th class="col-md-2">Nom Prenom</th>
                        <th class="col-md-3">Note</th>
                        <th class="col-md-3">Options</th>
                      </tr>
                      <tr ng-repeat="i in [] | range:Utils.keys(data.notes).length ">
                        <td >{{Utils.keys(data.notes)[i]}}</td>
                        <td  ng-hide="data.editToggle[$index]">{{data.notes[Utils.keys(data.notes)[i]]}}</td>
                        <td  ng-show="data.editToggle[$index]">
                          <input type="text" ng-model="data.tmpNote[$index]" class="form-control"/>
                        </td>
                        <td  ng-hide="data.editToggle[$index]">
                          <button class="btn btn-warning" ng-click="editBtn(data.notes[Utils.keys(data.notes)[i]],$index)">Edit</button>
                        </td>
                        <td  ng-show="data.editToggle[$index]">
                          <button class="btn btn-info" ng-click="confirmBtn(i,$index)">Confirmer</button>
                          <button class="btn btn-warning" ng-click="annulerBtn($index)">Annuler</button>
                        </td>
                      </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" data-dismiss="modal" ng-click="">Confirmer</button>
                  <button class="btn btn-info" data-dismiss="modal">Annuler</button>
                </div>
            </div>

    </div>

  </div>
</div>